<div class="row formDiv">
<form>
<input class="form-control" type="text" placeholder="Person Name" ng-model="person.name">
<input class="form-control" type="text" placeholder="Person Name" ng-model="person.friend">
  <input class="form-control" type="text" placeholder="Pet Name" ng-model="person.pet">
    <input class="form-control" type="text" placeholder="Adverb" ng-model="person.adverb">
        <input class="form-control" type="text" placeholder="Store Name" ng-model="person.store">
          <input class="form-control" type="text" placeholder="Noun" ng-model="person.noun">
          <input class="form-control" type="text" placeholder="Verb" ng-model="person.verb">
          <button class="btn btn-success" type="button" ng-click="submitPerson(person)"> Click Here! </button>
</form>
</div>
